user = __POSTFIX_DB_USER__
password = __POSTFIX_DB_PASSWORD__
hosts = 127.0.0.1
dbname = __POSTFIX_DB_NAME__
query = SELECT goto FROM alias,alias_domain WHERE alias_domain.alias_domain='%d' AND alias.address=CONCAT('%u','@',alias_domain.target_domain) AND alias.active=1 AND alias_domain.active=1
