# config/examples/providers/virustotal.env.example
# Copy to one of the supported ignored paths, for example:
#   config/local/providers/virustotal.env
#   /root/.config/openbsd-mailstack/providers/virustotal.env
#   /root/.config/virustotal/vt.env

VT_API_KEY="REDACTED"
VT_SCAN_ENABLED="1"
VT_MINIMUM_ENGINES="3"
VT_LOW_CATEGORY="5"
VT_MEDIUM_CATEGORY="10"
VT_SCORE_CLEAN="-0.5"
VT_SCORE_LOW="2.0"
VT_SCORE_MEDIUM="5.0"
VT_SCORE_HIGH="8.0"
VT_MAX_SIZE_BYTES="20000000"
VT_PUBLIC_MAX_REQUESTS_PER_MINUTE="4"
VT_PUBLIC_MAX_REQUESTS_PER_DAY="500"
VT_PUBLIC_MAX_REQUESTS_PER_MONTH="15500"
