# Copy this file to installer-profile.local.env and edit it.
# Do not commit your local profile.

PROFILE_NAME="default"

OPENBSD_VERSION="7.8"
OPENBSD_ARCH="amd64"

SYSTEM_HOSTNAME="mail.example.com"
DNS_DOMAIN="example.com"
TIMEZONE="UTC"

OPERATOR_USER="foo"
OPERATOR_HOME="/home/foo"

# bcrypt hash for root password, replace with your own value
ROOT_PASSWORD_BCRYPT='$2b$12$5S2qv.yc6jE/QlUPNfwv4.iWf00OZjycnBk1M/uUc60provDmfwAG'

PARROT_PUBKEY="ssh-ed25519 REPLACE_ME foo@parrot"

LAN_IF_DEFAULT="em0"
LAN_NET_DEFAULT="192.168.1.0/24"
HOST_IP_DEFAULT="192.168.1.44"
HOST_IP_CIDR_REAL="192.168.1.44/24"
HOST_GATEWAY_DEFAULT="192.168.1.1"
NAMESERVER_DEFAULT="1.1.1.1"

AUTOINSTALL_HTTP_HOST="PARROT_IP"
AUTOINSTALL_HTTP_PORT="8000"

MAILSTACK_REPO_CLONE_URL="https://github.com/unattributed/openbsd-mailstack"
