location __BREVO_WEBHOOK_URL_PATH__ {
    include __MONITORING_ALLOW_TEMPLATE__;
    proxy_pass http://__BREVO_WEBHOOK_LISTEN_ADDR__:__BREVO_WEBHOOK_LISTEN_PORT__;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
}
