DDNS_ENABLED="__DDNS_ENABLED__"
DDNS_PROVIDER="__DDNS_PROVIDER__"
DDNS_TARGET_IPV4="__DDNS_TARGET_IPV4__"
DDNS_TTL="__DDNS_TTL__"
DDNS_DOMAINS="__DDNS_DOMAINS__"
DDNS_HOST_LABELS="__DDNS_HOST_LABELS__"
