# config/network.conf.example
#
# Public-safe network exposure baseline for openbsd-mailstack.
# Copy this to config/network.conf or an ignored overlay file and replace the
# example values.

LAN_INTERFACE="em0"
WAN_INTERFACE="egress"
LAN_IPV4="192.168.1.44"
LAN_CIDR="24"
ROUTER_LAN_IPV4="192.168.1.1"
PUBLIC_IPV4="203.0.113.10"

DMZ_MODE="no"
DMZ_TARGET_IPV4="192.168.1.44"

ENABLE_HTTP="yes"
ENABLE_HTTPS="yes"
ENABLE_SMTP="yes"
ENABLE_SUBMISSION="no"
ENABLE_IMAPS="no"
ENABLE_PUBLIC_SSH="no"
PUBLIC_SSH_PORT="22"

PUBLIC_TCP_PORTS="25 80 443"
PUBLIC_UDP_PORTS="51820"

ADMIN_VPN_ONLY="yes"
WEB_VPN_ONLY="yes"

ENABLE_WIREGUARD="yes"
WIREGUARD_INTERFACE="wg0"
WIREGUARD_PORT="51820"
WIREGUARD_SUBNET="10.44.0.0/24"
WIREGUARD_SERVER_IPV4="10.44.0.1"
WIREGUARD_SERVER_NAME="openbsd-mailstack"
WIREGUARD_ALLOWED_IPS="10.44.0.0/24"
WIREGUARD_ADMIN_CLIENTS="operator-laptop"
