BREVO_LOG_PATH="__BREVO_WEBHOOK_LOG_PATH__"
BREVO_STATE_PATH="__BREVO_WEBHOOK_STATE_PATH__"
BREVO_LISTEN_ADDR="__BREVO_WEBHOOK_LISTEN_ADDR__"
BREVO_LISTEN_PORT="__BREVO_WEBHOOK_LISTEN_PORT__"
BREVO_ALERT_EMAIL="__BREVO_WEBHOOK_ALERT_EMAIL__"
